# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
